:root{
    --mainColor: #2C3333;
    --textColor: white;
    --highlight: #29c0c5;
}

 a:hover{
    color: var(--highlight);
}

 .nav-btn{
    padding: 5px;
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

@media screen and (max-width: 1024px){

    .nav-holder{
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }

    .nav-btn{
        display: block;
        opacity: 1;
    }
  
    .nav-ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--mainColor);
        transition: 1s;        
    }

    .responsive-nav{
        transform: translateY(100vh);
    }

    .nav-btn-close{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
}